<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>side bar</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200">
    <link rel="stylesheet" href="side-bar.component.css">
  </head>
  <body>
    <aside class="sidebar">
      <div class="logo">
        <img src="" alt="logo">
      </div>
      <hr>
      <ul class="links">
        <li>
          <span class="material-symbols-outlined">account_box</span>
          <a href="#">Gérer les étudiants</a>
        </li>
        <li>
          <span class="material-symbols-outlined">work</span>
          <a href="#">Gérer les enseignants</a>
        </li>
        <li>
          <span class="material-symbols-outlined">manage_accounts</span>
          <a href="#">Gérer l'administration</a>
        </li>
      </ul>
    </aside>
  </body>
</html>