@font-face {
    font-family: 'Tilt Neon';
    src: url('/assets/fonts/TiltNeon-Regular.ttf') format('truetype');
}

body{
    font-family: "Tilt Neon";
    background-color: #77bdff;
    overflow: hidden;
}