.grid-container {
    display: grid;
    grid-template-columns:260px auto;
}

@media screen and (max-width: 1159px) {
    .grid-container {
        grid-template-columns:200px auto;
    }
}

@media (max-width: 849px) {
    .grid-container {
        grid-template-columns:120px auto;
    } 
}