<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Responsive Image Cards With Hover Effect</title>
    <link rel="stylesheet" href="enseignant.component.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
  </head>
  <body>

    <!--image card layout start-->
    <div class="container">
      <!--image row start-->
      <div class="row">
        <!--image card start-->
        <div class="image">
          <img src="../../assets/images/1.jpg" alt="">
          <div class="details">
            <h2>Ajouter <br> un enseignant</h2>
            <div class="more">
              <a href="#" class="read-more">Click to show form</a>
            </div>
          </div>
        </div>
        <!--image card end-->
        <!--image card start-->
        <div class="image">
            <img src="../../assets/images/2.jpg" alt="">
            <div class="details">
              <h2>Modifier le profil  <br> d'un enseignant</h2>
              <div class="more">
                <a href="#" class="read-more">Click to show form</a>
              </div>
            </div>
          </div>
        <!--image card end-->
        <!--image card start-->
        <div class="image">
            <img src="../../assets/images/3.jpg" alt="">
            <div class="details">
              <h2>Supprimer <br> un enseignant</h2>
              <div class="more">
                <a href="#" class="read-more">Click to show form</a>
              </div>
            </div>
          </div>
        <!--image card end-->
      </div>
      <!--image row end-->
    </div>
    <!--image card layout end-->

  </body>
</html>
      